.section-padding{
    padding-top:100px;
    padding-bottom:100px;
}
.bg-color{
    background-color: #860270;
}
.gg {
    background: url("img/casey-horner-vPiz8ZQ9Wf8-unsplash.jpg") no-repeat center
      center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100%; */
  }
  body {
    color: #999999;
    font-family: "Prompt", sans-serif;
  }
  .scroll {
    max-height: 400px;
    overflow-y: scroll;
  }